nav {
   
        background-color: #ffff9c;
        height: 40px;
                color: #266943;
        }

nav ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            margin: 0;      
            padding: 0; 
            align-items: center;
            height: 100%;
            
        }

body {

    padding: 0px;
    margin: 0px;
    background-color: #266943;
    color: #ffff9c;
    font-family: "Figtree", sans-serif;
    height: 100vh;
}

h1, h2 {
    font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit; 
}


h1 {
    font-size: 3em;
    margin: 0;
}


/* to make scroll bar visible */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

