{% extends "base.html" %}
{% block title %} Dashboard  {% endblock %}
{% block styles %}
    <style>

        

        #top {
            display: flex;
        
            border-radius: 10px;
            justify-content: space-between;
          


         
        }

        #profilePic {
            width: 150px; 
            height: 150px; 
            border-radius: 20%;
   
            margin-right: 25px;
            margin-top: 5px;
            border-style: solid;
            border-width: 20px;
            border-color: {{ houseColor }}95;

        }

        .containerProblems {
            color: #266943;
            background-color: #79bd95;
            width: 45%;
            border-radius: 10px;
            padding: 10px;
            height: 330px;
        }

        .capsuleProblems {
            overflow-y: scroll;
            height: 70%;
            padding: 20px;
            background-color: rgba(126, 216, 174, 0.5);
            border-radius: 10px;

        }



        .listProblems li {
            width: 100%;
            border-radius: 10px;
            padding: 10px; 
            background-color: #ffff9c43;;
            color: #266943;
            
            
            
        }
        .listProblems{
        
           display: flex;
           flex-direction: column;
           gap: 10px;
            padding-left: 0;

        
        }

       
            

    
        
    </style>
{% endblock %}




{% block content %}
    <div id="top"> 
        <div>
            <h1> Hello {{name}} </h1>
            <h5>Your current total score is: {{ score }}</h5>

        </div>
  

         <img  src="{{ profilePic }}" alt="Profile Picture" id="profilePic">
    </div>
 
    

    <div style="display: flex; justify-content: space-around; margin: 50px;">
        <div class="containerProblems"> 
        <h2> Active Problems </h2>
        <p>These are the problems for you grade that are currently active</p>

         <div class="capsuleProblems"> 
            <ul class="listProblems">
              {% for prob in activeProblems%}
                    <li><a href="/problems/{{prob['id']}}"> {{ prob['title'] }}</a></li>
                {% endfor %}
            </ul>

         </div>
                   
            
     
        </div>
        <div  class="containerProblems"> 
            <h2> Past Problems </h2>

            <p>These are some past problems you have done</p>

            <div class="capsuleProblems"> 
                <ul class="listProblems">
                {% for prob in pastProblems%}
                        <li><a style="display: flex; justify-content: space-between;" href="/problems/{{prob['id']}}"> 
                             <div>{{ prob['title'] }}</div>
                             <div> {% if prob['scoreReceived'] is not none %} GRADED {% else %} Not Graded {% endif %}</div>
                        </a></li>
                       
                {% endfor %}
            </ul>

                

             </div>
                   

        </div>

        
    
    
    </div>
    
   
    

{% endblock %}


 