<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet">

    <title>Onboard</title>
    
</head>
<body style="display: flex; justify-content: center; align-items: center; height: 100vh; width: 100wh;">
    <div> 
         <h1>Welcome {{firstName}}!</h1>
         <p>Thanks for joining the Anglo's Math Club initiative! Enter the following information to get started</p>
        
        <form method="post" style="width: 100%;">
            <div style="display: flex; justify-content: center; gap: 5%;">
        
                <select class="form-select" name="grade" required style="width: 45%;">
                <option value="" disabled selected>Select Grade</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                </select>

                <select class="form-select" name="house" required style="width: 45%;">
                <option value="" disabled selected>Select House</option>
                <option value="Hood">Hood</option>
                <option value="Rodney">Rodney</option>
                <option value="Beatty">Beatty</option>
                <option value="Nelson">Nelson</option>

                </select>
            </div>   
       
        <div style="display: flex; justify-content: center; width:100%;">

            <button class="btn btn-success" type="submit" style="margin: 10px; width: 100%;">Next</button>

        </div>
      
        </form>
    


    </div>
   
</body>
</html>