{% extends "base.html" %}


{% block styles %}
<style>
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        
     

    }

    #imgContainer {
        width: 100%;
        height: 40%;
   
        margin-bottom: 20px;
      
    }


    #gradeProblems 
    {
        height: 200px;
        width: 100%;
        background-color: rgba(126, 216, 174, 0.5);
        border-radius:  10px;
        padding: 10px;
        display: flex;
        justify-content: space-between;

    }
 

        

 </style>
     
    

{% endblock %}






{% block content %}
   <div style="display: flex; justify-content: space-between;"> 
    <h1>{{ prob["title"]  }}</h1>

    {% if isAdmin %}
        <button onclick="deleteProblem()" type="button" class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"></path>
                    </svg>
                    Delete
        </button>
    {% endif %}

   </div>
   
   {% if active %}
        <p>This problem is active until {{ endsAt }} </p>
   {% else %}
     <p>This problem has ended at {{ endsAt }} </p>

   {% endif %}

   <p> This problem is for the following grades:
   {% for i in grades %}
     {{ i }}{% if not loop.last %}, {% endif %}
   {% endfor %}
   </p>



    {% if prob['imageURL'] is not none %}
   <div id="imgContainer">

    <img src="{{ prob['imageURL'] }}"/>

   </div>
   {% endif %}

   <p> {{ prob["textBody"] }}  </p>

   {% if canSubmit %}

   <form method="post" action="/problems/{{ prob['id'] }}/answer">
    <label for="inputAnswer">Please input your answer. Do so to 3 decimal places. Do not write anything else, only the answer</label>
    <input required type="text" id="inputAnswer" name="answer">


    
    <button type="submit" class="btn btn-success" name="formType" value="addProblem">Submit Problem</button>



   </form>

   {% else %}
   <p>You can't submit to this problem. Either the deadline has passed, you are an organizer, you have already submitted, or it isn't for you grade level.</p>

   {% endif %}

   {% if studentAnswer is not none %}
   <p>You have answered this problem with: {{ studentAnswer['answer']}}</p>


    {% if studentAnswer['scoreReceived'] > 0 %}
    <p>Congrats! Your answer was correct. You received the {{studentAnswer['scoreReceived']}} points. </p>

    {% elif studentAnswer['scoreReceived'] is not none%}
   <p>This problem has been graded. You have received a score of {{studentAnswer['scoreReceived']}}. Your answer wasn't entirely correct. 
    If you have any question, please contact one of the organizers

   </p>
   {% else %}

   <p>This problem hasn't been graded. Wait for an organizer to do so</p>
   {% endif %}


   {% endif %}

    {% if isAdmin %}
    <div id="gradeProblems"> 

        <div>
            <p>
             This problem has received {{ numAnswers }} answers. 
            </p>

            <p> 
                The correct answer for this problem is {{ prob["correctAnswer"] }}
            </p>
            <p> 

                If correct, {{ prob["pointsIfCorrect"] }} points will be awarded 
            </p>
            <button onclick="autoGrade()" class="btn btn-warning">Click here to autograde all answers</button>

        </div>





    <div>
        <h5>List of students that have answered</h5>

    </div>

   </div>

   {% endif %}

   <script>

    function autoGrade()
    {
        if (confirm("Are you sure you want to automatically grade all problems with the answer {{ prob['correctAnswer'] }}? This action cannot be undone")) {
           
            fetch("/problems/{{ prob['id'] }}/autograde", {
                method: "POST",
                body: new URLSearchParams({ autoGrade: "true" })
            })
            .then(response => {
            if (response.redirected) {
                // Redirige manualmente a la URL enviada por Flask
                window.location.href = response.url;
            }
        })
    
        }

       

    }

    function deleteProblem()
    {
          if (confirm("Are you sure you want to delete this problem? This action cannot be undone. It will also delete the score received by students from this problem.")) {
           
            fetch("/problems/{{ prob['id'] }}", {
                method: "DELETE"
      
            })
            .then(response => {
            if (response.redirected) {
                // Redirige manualmente a la URL enviada por Flask
                window.location.href = response.url;
            }
        })
    
        }

    }




   </script>


  

    






{% endblock %}

